APP_ENV=local
DEBUG=true

HTTP_PORT=:5001

TELEGRAM_BOT_TOKEN=your_bot_token_here

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=bill_splitter
PG_USER=admin
PG_PASSWORD=admin
PG_SSLMODE=disable
PG_CONNECT_TIMEOUT=5

PG_MAX_OPEN_CONNS=10
PG_MAX_IDLE_CONNS=5
